:root {
  --color-primary: #316225;
  --color-primary-dark: #274e1e;
  --color-orange: #ff9900;
}

.books p,
.books-title {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.books-title {
  margin-bottom: 30px;
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid #e4e3e2;
}

.books-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px 10px;
}

.books-item {
  width: calc(50% - 10px);
  height: 200px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 20px;
}

.books-item-image {
  cursor: pointer;
  user-select: none;
  max-width: 130px !important;
  height: auto !important;
}

.books-item-content p {
  margin: 0;
}

.books-item-content .title {
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  color: #000;
}

.books-item-content .title:hover {
  color: var(--color-primary);
}

.books-item-content .author {
  font-size: 11px;
  color: #666666;
}

.books-item-content .available {
  margin: 5px 0;
  padding: 2px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-orange);
  border-radius: 3px;
}

.books-item-content .available span {
  font-size: 10px;
  color: var(--color-orange);
}

.books-item-content .price {
  font-size: 16px;
  font-weight: 600;
}

.books-item-content button {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border: 0 !important;
  background-color: var(--color-primary) !important;
  border-radius: 3px;
}

.books-item-content button span {
  color: #fff;
  font-size: 13px;
}

.books-item-content button:hover {
  color: #fff;
  background-color: var(--color-primary-dark) !important;
}
